body {
	margin: 0;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: 100;
	line-height: 1.3em;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}
::-moz-scrollbar {
    -moz-appearance: none;
    width: 7px;
}
::-moz-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}
::-ms-scrollbar {
    -ms-appearance: none;
    width: 7px;
}
::-ms-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}


.full_page{
	width: 100%;
	height: 100%;
	position: relative;
	background: #333;
}
.experiment{
	width:960px;
	height:570px;
	position: absolute;
	margin: auto;
	top:0; left:0; right:0; bottom:0;
}
.experiment #experiment_border{
	width:960px;
	height:500px;
	border-top: 5px solid #222; 
	border-bottom: 5px solid #222;
}
.experiment #reset{
	width:180px;
	height:40px;
	padding: 10px;
	color: #fff;
	margin: 10px auto 0 auto;
	border-radius: 10px;
	background: #222;
	font-size: 30px;
	text-align: center;
	line-height: 47px;
	letter-spacing: 5px;
	cursor: pointer;
	position: relative;
	top:0px;
	border-bottom: 2px solid rgba(0,0,0,0.5);

	-webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.experiment #reset:hover{
	background: #555;
	top:-2px;
}
.experiment #reset:active{
	background: #111;
	top:2px;
}
.experiment #info_container{
	width: 320px;
	height: 500px;
	
	position: absolute;
	right: 0px;
	top: 5px;

	overflow-y: scroll;

	/*text-align: justify;*/
	color:#bbb;
}
.experiment #info{
	width: 270px;
	padding: 50px 10px;
	text-align: justify;
}
.experiment #info span{
	color:#fff;
}
.experiment #info .qa{
	margin-bottom: 20px;
}
.experiment #info .qa > #q{
	padding: 10px;
	width: 250px;
	background: #fff;
	color: #333;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
}
.experiment #info .qa > #a{
	
	padding: 10px 10px;
	max-height: 0px;

	width: 250px;
	background: #444;
	text-align: left;
	overflow: hidden;

	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;

}
.experiment #info .qa[show=yes] > #a{
	max-height: 300px;
}
.experiment #info .qa[show=no] > #a{
	padding: 0 10px;
}
.experiment #info #title{
	font-size: 35px;
	color:#fff;
}